demo/src/main/resources/services.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://demo.cs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://demo.cs.com/" name="HelloWorldWSService">
<types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://demo.cs.com/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="datasource" type="tns:dataSource"/>

<xs:element name="datasources" type="tns:dataSources"/>

<xs:element name="getDataSource" type="tns:getDataSource"/>

<xs:element name="getDataSourceResponse" type="tns:getDataSourceResponse"/>

<xs:element name="getFileContent" type="tns:getFileContent"/>

<xs:element name="getFileContentResponse" type="tns:getFileContentResponse"/>

<xs:element name="getHelloWorld" type="tns:getHelloWorld"/>

<xs:element name="getHelloWorldResponse" type="tns:getHelloWorldResponse"/>

<xs:complexType name="getDataSource">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDataSourceResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataSources" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataSources">
<xs:sequence>
<xs:element ref="tns:datasource" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataSource">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="driverClass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHelloWorld">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getHelloWorldResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFileContent">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFileContentResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataSources" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>
</xs:schema>
</types>
<message name="getDataSource">
<part name="parameters" element="tns:getDataSource"/>
</message>
<message name="getDataSourceResponse">
<part name="parameters" element="tns:getDataSourceResponse"/>
</message>
<message name="getHelloWorld">
<part name="parameters" element="tns:getHelloWorld"/>
</message>
<message name="getHelloWorldResponse">
<part name="parameters" element="tns:getHelloWorldResponse"/>
</message>
<message name="getFileContent">
<part name="parameters" element="tns:getFileContent"/>
</message>
<message name="getFileContentResponse">
<part name="parameters" element="tns:getFileContentResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<portType name="HelloWorldWS">
<operation name="getDataSource">
<input wsam:Action="http://demo.cs.com/HelloWorldWS/getDataSourceRequest" message="tns:getDataSource"/>
<output wsam:Action="http://demo.cs.com/HelloWorldWS/getDataSourceResponse" message="tns:getDataSourceResponse"/>
</operation>
<operation name="getHelloWorld">
<input wsam:Action="http://demo.cs.com/HelloWorldWS/getHelloWorldRequest" message="tns:getHelloWorld"/>
<output wsam:Action="http://demo.cs.com/HelloWorldWS/getHelloWorldResponse" message="tns:getHelloWorldResponse"/>
</operation>
<operation name="getFileContent">
<input wsam:Action="http://demo.cs.com/HelloWorldWS/getFileContentRequest" message="tns:getFileContent"/>
<output wsam:Action="http://demo.cs.com/HelloWorldWS/getFileContentResponse" message="tns:getFileContentResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://demo.cs.com/HelloWorldWS/getFileContent/Fault/IOException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://demo.cs.com/HelloWorldWS/getFileContent/Fault/JAXBException"/>
</operation>
</portType>
<binding name="HelloWorldWSPortBinding" type="tns:HelloWorldWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDataSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHelloWorld">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFileContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HelloWorldWSService">
<port name="HelloWorldWSPort" binding="tns:HelloWorldWSPortBinding">
<soap:address location="http://localhost:8080/config/services/ws"/>
</port>
</service>
</definitions>